@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skill {
  width: 80vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .iconbox {
    height: 40px;
    width: 40px;
    padding: 15px;
    background-color: $bgColor;
    transform: rotate(45deg);

    .icon{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-45deg);
    }
  }

  .title {
    @include text($primaryFontFamily, 800, 20px, 1.2);
    margin: 0;
    text-align: left;
  }

  .description {
    @include text($secondFontFamily, 300, 14px, 1.2);
    margin: 10px 0;
  }

  @media screen and (min-width: 1200px) {
    width: 70vw;
    .title {
      @include text($primaryFontFamily, 800, 30px, 1.2);
      margin:  0;
      text-align: left;

    }
    .description {
      @include text($secondFontFamily, 300, 18px, 1.2);
      margin:  0;
    }
  }
  .descript{
    transition: 0.5s;
  }
  .descript:hover{
    transform: scale(1.05);
    color: $primarySecondColor;
  }
}



