$textColor: #363636
$primaryColor: rgb(100, 187, 245)
$primarySecondColor: #4f8dd0
$bgColor: #dbdbdb
$bgSecondColor: #f5f5f5
$primaryFontFamily: 'Josefin Sans', sans-serif
$secondFontFamily: 'Rubik', sans-serif9